* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, .5);
}

/* Style du haut de la page */
/* Header Style */
header {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}

header a {
    margin: 0;
}

.logo_booki {
    width: 100px;
    margin: 0;
    padding: 40px 0;
}

.logo_booki-mobile {
    display: none;
}

nav.nav_anchor {
    margin: 0;
    width: 30%;
}

ul.ul_anchor {
    padding: 0;
    display: flex;
}

ul.ul_anchor li {
    width: 100%;
    border-top: 3px solid transparent;
    text-align: center;
    list-style-type: none;
}

ul.ul_anchor li:hover {
    border-top: 3px solid #0065FC;
}

ul.ul_anchor a {
    display: inline-block;
    padding: 40px 0;
}

ul.ul_anchor a:hover {
    color: #0065FC;
}

/* Style du slogan de la page */
/* Page Tagline Style */

section.form_tagline {
    margin:0 3%;
    line-height: 30px;
}


/* Style du formulaire de recherche */
/* Search form style */

form.form_search {
    padding: 15px 0 30px 0;
    display: flex;
}

button.location_icon {
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
}

button:hover {
    cursor: pointer;
}

input.search {
    padding: 5px;
    height: 50px;
    width: 250px;
    font-weight: 600;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-right: none;
    border-left: none;
    transition: .5s;
}

input.search:hover {
    cursor: text;
}

input.search:focus {
    outline: none;
    font-weight: normal;
    background-color: #f2f2f2;
    box-shadow: inset 8px 8px 20px rgba(0, 0, 0, .2);
    transition: .5s;
}

button.btn_search {
    padding: 5px 15px;
    height: 50px;
    background-color: #0065FC;
    color: #FFF;
    font-weight: 600;
    border: 2px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

button.btn_search-mobile {
    padding: 5px 15px;
    height: 50px;
    background-color: #0065FC;
    color: #FFF;
    font-weight: 600;
    border: 2px solid #0065FC;
    border-radius: 0 15px 15px 0;
    display: none;
}

/* Style de la liste des filtres */
/* Filter List Style */

div.form_filter {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 600;
}

div.form_filter p {
    margin: 10px 30px 10px 0;
    font-size: 20px;
}

span.btn_filter {
    display: flex;
    align-items: center;
    height: 50px;
}

label {
    display: flex;
    align-items: center;
    margin: 5px 10px 5px 60px;
    height: 100%;
    z-index: 1;
    transition: .5s;
}

label:hover {
    cursor: pointer;
}

input:checked + label {
    color: #000;
    margin: 5px 40px 5px 20px;
}

input[type="checkbox"] {
    height: 100%;
    appearance: none;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

input:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    box-shadow: inset 8px 8px 20px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]{
    background-color: #f2f2f2;
    box-shadow: inset 8px 8px 20px rgba(0, 0, 0, .2);
}

.icon_economic, .div_economic {
    width: 190px;
}

.icon_family, .div_family {
    width: 150px;
}

.icon_romantic, .div_romantic {
    width: 190px;
}

.icon_dog, .div_dog {
    width: 240px;
}

.div_economic, .div_family, .div_romantic, .div_dog {
    position: relative;
    margin: 0 20px;
}

/* Icon de la liste des filtres */
/* Filter list icon */

.icon_dog::before {
    font: var(--fa-font-solid);
    content: "\f6d3";
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    transition: .5s;
}

.icon_romantic::before {
    font: var(--fa-font-solid);
    content: "\f004";
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    transition: .5s;
}

.icon_family::before {
    font: var(--fa-font-solid);
    content: "\f1ae";
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    transition: .5s;
}

.icon_economic::before {
    font: var(--fa-font-solid);
    content: "\f53a";
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    transition: .5s;
}

.icon_dog:checked::before,
.icon_economic:checked::before,
.icon_romantic:checked::before,
.icon_family:checked::before {
    background-color: #0065FC;
    color: #DEEBFF;
    left: 80%;
    z-index: 2;
    transition: .5s;
}

.icon_dog:hover::before,
.icon_economic:hover::before,
.icon_romantic:hover::before,
.icon_family:hover::before {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform: scale(1.1);
    transition: .5s;
}

/* Style du paragraphe info */
/* Info paragraph style */

div.info {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

div p {
    margin: 0 0 0 10px;
}

.info_icon {
    margin: 0;
    height: 26px;
    width: 26px;
    border: 1px solid #e2e2e2;
    border-radius: 13px;
    color: #0065FC;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.lodging-popular {
    margin: 0 3%;
    display: flex;
    max-height: 650px;
}

/* Style des hébergements */
/* Lodging Style */

div.lodging {
    margin: 0 auto 0 0;
    padding: 2.5%;
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
}

div.lodging h3 {
    width: 100%;
    font-size: 24px;
}

div.form_lodging {
    padding: 5px;
    width: 30%;
    height: 38%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2) ;
    border-radius: 20px;
    transition: .3s;
}

div.form_lodging a:hover {
    color: black;
}

div.form_lodging:hover {
    transform: scale(1.1);
    transition: .3s;
}

div.form_lodging img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

p.title {
    font-size: 16px;
    font-weight: 600;
}

p.price {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}

p.price::before {
    content: 'Nuit à partir de ';
    font-weight: 500;
}

p.price::after {
    content: '€';
}

p.more a {
    font-size: 18px;
    font-weight: 900;
}

/* style des plus populaires */
/* Popular Style */

div.popular {
    margin: 0 0 0 auto;
    padding: 3%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
}

h3.title_popular {
    margin: 0 auto 0 0;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

span.title_popular-icon {
    justify-content: flex-end;
    margin: 0;
}

div.form_popular {
    padding: 5px;
    margin: 2.5% auto;
    width: 100%;
    height: 25%;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2) ;
    border-radius: 20px;
    display: flex;
    transition: .3s;
}

a.form_popular_link {
    display: flex;
}

a.form_popular_link:hover {
    color: black;
}

div.form_popular:hover {
    transform: scale(1.1);
    transition: .3s;
}

div.form_popular_img {
    width: 40%;
}

div.form_popular_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

div.form_popular_text {
    width: 60%;
    margin: 4% 0 0 4%;
}

div.form_score-lodging {
    display: flex;
    flex-direction: row;
}

div.form_score-popular {
    display: flex;
    flex-direction: row;
}

/* Style du score des cartes */
/* Card Score Style */

.score_lightness {
    font-size: 12px;
    color: #0065FC;
}

.score_darkness {
    font-size: 12px;
    opacity: .2;
    color: black;
}

/* Style des activités à Marseille */
/* Activity Style */

section.form_activity {
    margin: 0 3% 20px 3%;
    display: flex;
    flex-wrap: wrap;
}

section.form_activity a:hover {
    color: black;
}

section.form_activity h3 {
    margin: 25px auto;
    width: 100%;
    font-size: 24px;
}

p.title_activity-card {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
    padding: 14px 0 0 15px;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: -10px;
}

div.form_activity-column1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 500px;
}

div.form_activity-column2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 500px;
    margin-right: 0;
}

div.form_activity-cards1 {
    width: 23%;
    height: 500px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) ;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

div.form_activity-cards1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.form_activity-cards2 {
    width: 100%;
    height: 60%;
    margin: 0 0 auto 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) ;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

div.form_activity-cards2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.form_activity-cards3 {
    width: 100%;
    height: 30%;
    margin: auto 0 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) ;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

div.form_activity-cards3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.form_activity-cards4 {
    width: 100%;
    height: 45%;
    margin: 0 0 auto 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) ;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

div.form_activity-cards4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.form_activity-cards5 {
    width: 100%;
    height: 45%;
    margin: auto 0 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) ;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

div.form_activity-cards5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.form_activity-cards1:hover, div.form_activity-cards2:hover, div.form_activity-cards3:hover, div.form_activity-cards4:hover, div.form_activity-cards5:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* Style du pied de page */
/* Footer Style */

footer {
    padding: 4% 3%;
    background-color: #f2f2f2;
    display: flex;
}

div.form_footer {
    width: 33%;
}

footer p {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
    margin-top: 15px;
}

footer li a {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1230px){
    p.title_activity-card {
        font-size: 16px;
    }
}

@media screen and (max-width: 1102px){
    p.title_activity-card {
        font-size: 14px;
    }
}
/* Style responsive pour tablette */
/* Responsive style for tablet */

@media screen and (min-width: 768px) and (max-width: 991px){

    /* Filter Tablet */

    div.form_filter p {
        margin: 10px 0 10px 0;
    }

    label {
        margin: 5px 10px 5px 50px;
    }

    input[type="checkbox"] {
        margin: 5px;
        height: 40px;
        padding-right: 15px;
        padding-left: 40px;
        font-size: 16px;
        border-radius: 20px;
    }

    .icon_economic::before, .icon_family::before, .icon_romantic::before, .icon_dog::before {
        width: 40px;
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
    }

    .div_economic, .div_family, .div_romantic, .div_dog {
        margin: 0 8px;
    }

    .icon_economic, .div_economic, .icon_romantic, .div_romantic, .icon_family, .div_family, .icon_dog, .div_dog {
        width: 150px;
    }

    label {
        line-height: 20px;
    }

    /* Lodging Tablet */

    div.lodging {
        padding: 1%;
    }

    div.form_lodging {
        width: 32%;
        text-align: center;
    }

    div.popular {
        padding: 1%;
    }

    p.title {
        font-size: 15px;
    }

    p.price {
        margin: 0;
    }

    div p {
        margin: 0;
    }

    /* Activity Tablet */

    p.title_activity-card {
        font-size: 14px;
        height: 35px;
        padding-left: 10px;
        padding-top: 0;
        display: flex;
        align-items: center;
        left: 0;
    }

    div.form_activity-cards1, div.form_activity-column1, div.form_activity-column2 {
        height: 350px;
    }
}

/* Style responsive pour mobile */
/* Mobile-responsive styling */

@media screen and (max-width: 767px){

    /* Style header pour mobile */
    /* Header style for mobile */

    header {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .logo_booki {
        display: none;
    }

    .logo_booki-mobile {
        display: block;
        width: 30%;
        padding: 20px;
        box-sizing: content-box;
    }

    nav.nav_anchor {
        width: 100%;
    }
    
    ul.ul_anchor li {
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }

    ul.ul_anchor li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    ul.ul_anchor a {
        width: 100%;
        padding: 15px 0;
        font-size: 20px;
    }

    /* Style slogan pour mobile */
    /* Tagline Style for Mobile */

    section.form_tagline {
        margin: 0 5%;
    }

    section.form_tagline h2 {
        font-size: 24px;
        margin-top: 30px;
    }

    section.form_tagline p {
        font-size: 18px;
        margin-top: 10px;
    }

    /* Style du formulaire de recherche pour mobile */
    /* Search Form Style for Mobile */

    form.form_search {
        position: relative;
        padding: 20px 0;
    }

    button.btn_search {
        display: none;
    }

    button.btn_search-mobile {
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        font-size: 18px;
        position: absolute;
        right: 0;
    }

    button.location_icon {
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 20px 0 0 20px;
        font-size: 22px;
    }

    input.search {
        height: 60px;
        font-size: 18px;
        width: 100%;
        border-radius: 0 20px 20px 0;
    }

    /* Style filtres pour mobile */
    /* Filter Style for Mobile */

    div.form_filter {
        flex-wrap: wrap;
        height: fit-content;
    }

    div.form_filter p {
        width: 100%;
    }

    .div_economic, .div_family, .div_romantic, .div_dog {
        margin: 5px 20px 5px 0;
        font-weight: 900;
    }

    /* Style info pour mobile */
    /* Info Style for Mobile */

    .info_icon {
        width: 45px;
        height: 30px;
        border-radius: 20px;
    }

    div.info {
        margin: 20px 0;
    }

    /* Style des populaires pour mobile */
    /* Popular Style for Mobile */
    
    section.lodging-popular {
        flex-direction: column;
        margin: 0;
        max-height: fit-content;
    }

    div.popular {
        order: 1;
        width: 100%;
        border-radius: 0;
        padding: 10% 5%;
    }

    h3.title_popular {
        margin-bottom: 15px;
    }

    div.form_popular {
        height: 150px;
    }

    a.form_popular_link {
        margin: 0;
        width: 100%;
    }

    p.title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    p.price {
        font-size: 16px;
        margin-bottom: 35px;
    }

    /* Style des hébergements pour mobile */
    /* Lodging Style for Mobile */

    div.lodging {
        order: 2;
        padding: 10% 5%;
        width: 100%;
        background-color: transparent;
    }

    div.lodging h3 {
        margin-bottom: 15px;
    }

    div.form_lodging {
        height: 200px;
        width: 100%;
        margin: 10px 0;
        position: relative;
    }

    p.more {
        margin-top: 25px;
        margin-left: 0;
    }

    p.more a {
        font-size: 20px;
    }

    p.form_score-lodging {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    /* Style des activités pour mobile */
    /* Activity Style for Mobile */

    section.form_activity {
        flex-direction: column;
        margin: 0 5% 20px 5%;
    }

    div.form_activity-cards1, div.form_activity-cards2, div.form_activity-cards3, div.form_activity-cards4, div.form_activity-cards5 {
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    div.form_activity-column1, div.form_activity-column2 {
        width: 100%;
        height: fit-content;
    }

    p.title_activity-card {
        font-size: 18px;
    }

    /* Style du pied de page pour mobile */
    /* Footer Style for Mobile */

    footer {
        flex-direction: column;
        padding: 5%;
    }

    div.form_footer {
        width: 100%;
        margin: 15px 0;
    }
}